[Unit]
Description=Arkeo Mainnet Node Daemon
After=network-online.target

[Service]
Environment="DAEMON_NAME=arkeod"
Environment="DAEMON_HOME=/home/{{ user }}/.arkeo"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="UNSAFE_SKIP_BACKUP=true"
User={{ user }}
WorkingDirectory=/home/{{ user }}/.arkeo
ExecStart=/home/{{ user }}/go/bin/cosmovisor run start
Restart=always
RestartSec=4
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target