monitored:
    hosts:
        host-to-be-monitored-with-node-exp-01.example.com:
            domain: host-to-be-monitored-with-node-exp-01.example.com # for TLS certificate, not necessary the same as the domain above
        host-to-be-monitored-with-node-exp-02.example.com:
            domain: host-to-be-monitored-with-node-exp-02.example.com
    vars:
        node_exporter_version: 1.8.1
        node_exporter_web_listen_address: 127.0.0.1:9100
        email: email-for-cert@example.com # for TLS certificate, can be moved to host level if different emails are required
        worker_processes: 2

galactica:
    hosts:
        galactica-t-1.example.com:
        galactica-t-2.example.com:
    vars:
        user: galactica
        port_prefix: 20
        go_version: 1.22.3
        git_tag: v0.1.2
        chain_id: galactica_9302-1
zg:
    hosts:
        0g-t-1.example.com:
        0g-t-2.example.com:
    vars:
        user: zg
        port_prefix: 21
        go_version: 1.23.4
        git_tag: v0.4.0
        genesis_url: https://github.com/0glabs/0g-chain/releases/download/v0.2.3/genesis.json
        chain_id: zgtendermint_16600-2

arkeo-mainnet:
    hosts:
        arkeo-t.example.com:
    vars:
        user: arkeo
        port_prefix: 21
        go_version: 1.24.2
        git_tag: v1.0.9
        genesis_file_url: https://mainnet-files.bonynode.online/arkeo/genesis.json
        addrbook_url: https://mainnet-files.bonynode.online/arkeo/addrbook.json
        chain_id: arkeo-main-v1
        moniker: MONIKER
        snap_rpc: https://arkeo-mainnet-rpc.bonynode.online

arkeo-testnet:
    hosts:
        arkeo-t.example.com:
    vars:
        user: tarkeo
        port_prefix: 21
        go_version: 1.24.2
        git_tag: v1.0.8
        genesis_file_url: https://raw.githubusercontent.com/arkeonetwork/arkeo/refs/heads/master/networks/testnet/arkeo-testnet4/genesis.json
        chain_id: arkeo-testnet-4
        moniker: MONIKER
        snap_rpc: https://arkeo-testnet-rpc.bonynode.online

apiNodes:
    hosts:
        galactica-t-api-node:
            ansible_host: galactica-t-2.example.com
            domain: galactica-t-2.example.com # for TLS certificate
            api_subdomain: api
            api_address: "localhost:20317" # All ports should be aligned with ones listened by the node, check port_prefix above
            rpc_subdomain: rpc
            prc_address: "localhost:20657"
            grpc_subdomain: grpc
            gprc_address: "localhost:20090"
            grpc_public_port: 20443
        0g-t-api-node:
            ansible_host: 0g-t-2.example.com
            domain: 0g-t-2.example.com
            api_subdomain: api
            api_address: "localhost:21317"
            rpc_subdomain: rpc
            prc_address: "localhost:21657"
            grpc_subdomain: grpc
            gprc_address: "localhost:21090"
            grpc_public_port: 21443
    vars:
        worker_processes: 2
        email: email-for-cert@example.com # for TLS certificate, can be moved to host level if different emails are required
