[Unit]
Description=zero-gravity node service
After=network-online.target

[Service]
User={{user}}
ExecStart=/opt/zero-gravity/bin/0gchaind start --home=/home/{{ user }}/.0gchain
Restart=on-failure
RestartSec=10
LimitNOFILE=65535
Environment="GOGC=900"

[Install]
WantedBy=multi-user.target